/.gradle

/local.properties

/.idea/workspace.xml

/.idea
/libraries
.DS_Store

/build

/captures
*.iml
/gradlew
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
/gradlew.bat
